NEXT_PUBLIC_BASE_API_URL=http://localhost:3000/api

DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
DB_USER=postgres
DB_PASSWORD=tubuntu
DB_NAME=lab_reports

# local
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}

# neon
# DATABASE_URL=

# For uses requiring a connection without pgbouncer
# DATABASE_URL_UNPOOLED=postgresql://neondb_owner:[PASSWORD]@ep-dark-bonus-a16ezgiy.ap-southeast-1.aws.neon.tech/neondb?sslmode=require


JWT_SECRET="aldfksdjfalsdfkajdslkfajlsdkfjalsdkjal"
COOKIE_NAME="lab_session"
COOKIE_MAX_AGE=86400 # 1 day in seconds